/* 
    book.css
    contains styling for the appointment booking page of the site
*/


/* Apt Section */

.apt-wrapper {
    margin-bottom: 100px;
}

/* Date Picker */

.date-picker {
    margin: 0 auto;
    text-align: center;
}

#calendar {
    width: 40%;
    text-align: center;
}

/* Removes the clear button from date inputs */

input[type="date"]::-webkit-clear-button {
    display: none;
}

/* Removes the spin button */

input[type="date"]::-webkit-inner-spin-button {
    display: none;
}

/* Always display the drop down caret */

input[type="date"]::-webkit-calendar-picker-indicator {
    color: #cc9f56;
}

/* A few custom styles for date inputs */

input[type="date"] {
    -webkit-appearance: none;
    color: #cc9f56;
    font-family: "Helvetica", arial, sans-serif;
    font-size: 1.5em;
    border: 1px solid #cc9f56;
    background: #ecf0f1;
    padding: 15px;
    display: inline-block !important;
    visibility: visible !important;
    width: 22%;
    outline: none;
}

input[type="date"],
focus {
    color: #cc9f56;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

.hour {
    font-size: 2em;
    margin-right: 5px;
}

.book-cta {
    margin: 100px auto;
    text-align: center;
}

.apt-cta {
    padding: 25px 30px;
    background-color: rgb(204, 159, 86);
    color: white;
    font-size: 1.1em;
    letter-spacing: 0.2em;
    transition: 350ms background-color;
    cursor: pointer;
    text-transform: uppercase;
}

.apt-cta:hover {
    background-color: rgb(0, 0, 0);
}

.slot-times {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
}

.slot-time {
    flex-basis: 120px;
    background-color: #efefef;
    padding: 20px 10px;
    color: #cc9f56;
    margin: 2px;
    cursor: pointer;
    transition: 350ms background-color;
}
.slot-time:hover {
    background-color: #cc9f56;
    color: #fff;
}

.select {
    background-color: #cc9f56;
    color: #fff;
}

/* Success Message */

.success {
    display: none;
    margin: 0 auto;
    text-align: center;
    /* margin-top: 250px; */
    height: 600px;
}

.success h2 {
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #cc9f56;
    font-size: 1.5em;
    /* margin-bottom: 50px; */
}

.message {
    font-size: 1.2em;
    margin-top: 20px;
}

fieldset {
    border: none;
}

form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
}

.text-field {
    height: 60px;
    width: 40%;
    margin: 10px 0;
    padding: 10px;
    font-size: 1em;
    font-family: 'Lato', helvetica, sans-serif;
    font-weight: 300;
    color: #000;
}

.text-field:focus {
    outline-color: #cc9f56;
}

::placeholder {
    color: #bbb;
}

:-ms-input-placeholder {
    color: #bbb;

}

::-ms-input-placeholder {
    color: #bbb;

}

.box-container {
    height: 30px;
    margin: 15px 20px;
        display: inline-block;
        position: relative;
        padding-left: 35px;
        /* margin-bottom: 12px; */
        cursor: pointer;
            font-family: 'Lato',
            helvetica,
            sans-serif;

        font-size: 1em;
        font-weight: 300;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
}

.box-container input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border: 1px solid #ddd;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.box-container input:checked ~ .checkmark:after {
    display: inline-block;
}

.box-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid #cc9f56;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.date-time {
    margin: 100px auto;
    text-align: center;
    font-family: 'Lato', helvetica, sans-serif;
    font-weight: 300;
    font-size: 1.2em;
}   

.error {
    margin: 0 auto;
    text-align: center;
    color: red;
        font-family: 'Lato',
        helvetica,
        sans-serif;

    font-size: 1.2em;
    font-weight: 300;
    display: none;
}

.section-wrapper {
    padding: 100px 40px 0 40px;
}

.section-heading {
    color: rgb(169, 130, 68);
    text-transform: uppercase;
    margin-bottom: 50px;
    text-align: center;
    font-size: 2em;
    letter-spacing: .3em;
}

.thin-gold-line {
    background-color: #cc9f56;
    width: 50px;
    height: 1px;
}

.on-heading {
    margin: 0px auto 50px auto;
} 

/* Media Queries */

@media (max-width: 1000px) {
    .text-field {
        width: 80%;
    }
}

@media (max-width: 768px) {
    #calendar {
        width: 80%;
    }
}