/* 
    index.css
    contains styling for the home page of the site
*/


/* Hero Section */

.hero-bkgnd {
    position: relative;
}

.hero {
    max-width: 100%;
    height: auto;
}

.hero-cta {
    position: absolute;
    bottom: 10%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    transition: 350ms background-color;
    width: 250px;
    text-align: center;
}

.cta {
    background-color: rgb(169, 130, 68, 0.8);
    padding: 20px 25px;
    color: #efefef;
    text-transform: uppercase;
}

.hero-cta:hover {
    background-color: rgb(0, 0, 0, 0.8);
}

/* Services Section */

.section-wrapper {
    padding: 100px 40px 0 40px;
}

.section-heading {
    color: rgb(169, 130, 68);
    text-transform: uppercase;
    margin-bottom: 50px;
    text-align: center;
    font-size: 2em;
    letter-spacing: .3em;
}

.services-wrapper {
    display: flex;
    flex-flow: row nowrap;
}

.service-wrapper {
    flex-basis: 31%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 0;
    position: relative;
    border: 1px solid #cc9f56;
}

.breathe {
    margin: 0 40px;
}

.service-header h3 {
    text-transform: uppercase;
    font-family: 'OpenSans', helvetica, sans-serif;
    font-weight: 900;
}

.service-header h4 {
    color: #a98244;
    font-size: 1.4em;
    font-family: 'OpenSans', helvetica, sans-serif;
    font-weight: lighter;
    text-align: center;
    margin-top: 10px;
}

.dollar {
    font-size: .6em;
}

.service-list {
    line-height: 2.5em;
    margin-top: 30px;
    margin-bottom: 100px;
}

li:first-child {
    border-top: 1px solid #efefef;
}

li {
    border-bottom: 1px solid #efefef;
}

.pricing-cta {
    width: 100%;
    color: #efefef;
    background-color: #cc9f56;
    padding: 20px 0px;
    position: absolute;
    bottom: 0;
    left: 0;
    text-transform: uppercase;
    text-align: center;
    transition: 350ms background-color;
}

.pricing-cta:hover {
    background-color: #a98244;
}

/* About Section */

.about-quote {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.5em;
    font-weight: lighter;
    font-style: italic;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.col-wrapper {
    display: flex;
    flex-flow: row nowrap;
}

.col {
    line-height: 2em;
}

.first {
    margin-right: 40px;
}

.second {
    margin-left: 40px;
}

.col p:first-child {
    margin-bottom: 20px;
}

.team {
    margin-top: 50px;
    text-align: center;
}

.team img {
    max-width: 100%;
    min-width: 100%;
    height: auto;
}

/* Contact Section */

.contact-wrapper {
    display: flex;
    flex-flow: row nowrap;
}

.map {
    height: 400px;
    width: 100%;
    flex-basis: 50%;
}

.contact-info {
    background-color: #000;
    color: #efefef;
    flex-basis: 50%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    font-size: 1.3em;
    font-weight: lighter;
}

.thin-gold-line {
    background-color: #cc9f56;
    width: 50px;
    height: 1px;
}

.on-heading {
    margin: 0px auto 50px auto;
}

/* Media Queries */

@media (max-width: 1000px) {
    h3 {
        font-size: 1.3em;
    }
    h4 {
        font-size: 1em;
    }
    .perks li {
        font-size: 0.8em;
    }
    .contact-info {
        font-size: 0.8em;
    }
}

@media (max-width: 900px) {
    .page-header {
        flex-flow: column nowrap;
        height: 100px;
        padding: 20px 20px;
    }
}

@media (max-width: 768px) {
    .services-wrapper {
        flex-flow: column nowrap;
    }
    .service-wrapper {
        width: 80%;
        padding: 20px 0;
        margin: 20px auto;
    }
    .about-quote {
        font-size: 1.5em;
    }
    .contact-wrapper {
        flex-flow: column nowrap;
    }
    .contact-info {
        height: 400px;
    }
}

@media (max-width: 560px) {
    .col-wrapper {
        flex-flow: column nowrap;
    }
    .first,
    .second {
        margin: 0 auto;
    }
    .col p {
        margin-bottom: 20px;
    }
}

@media (max-width: 450px) {
    nav a {
        font-size: 0.5em;
    }
}