/* 
    main.css
    contains styling for global elements relevant to the entire site
*/


@font-face {
    font-family: 'Lato-Regular';
    src: url(../assets/Lato-Regular.ttf);
}

@font-face {
    font-family: 'Open Sans';
    src: url(../assets/OpenSans-Regular.ttf);
}

:root {
    --main-font-family: 'Lato-Regular', helvetica, sans-serif;
}

body {
    font: 100%/1.5 var(--main-font-family);
}

h3 {
    font-size: 1.5em;
}

a {
    text-decoration: none;
}

nav {
    flex-basis: 70%;
    text-align: right;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
}

nav a {
    color: #efefef;
    text-transform: uppercase;
    font-size: .8em;
    border-bottom: 1px solid #000;
    transition: 350ms ease-out border-bottom;
    margin: 0 10px;
}

nav a:hover {
    border-bottom: 1px solid #efefef;
}

/* Page Header */

.page-header {
    background-color: black;
    height: 50px;
    padding: 10px 40px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    color: #efefef;
}

.brand {
    flex-basis: 30%;
}

.brand h3 {
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: .2em;
    color: #efefef;
    transition: 350ms color; 
    cursor: pointer;
}

.brand h3:hover {
    color: #aaa;
}

.fa-circle {
    font-size: 5px;
    color: #a98244;
}

/* Footer */

.footer-wrapper {
    background-color: rgb(0, 0, 0);
    height: 300px;
    margin-top: 50px;
    color: #efefef;
    padding: 50px 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}

.footer-logo h3 {
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: .2em;
}

.social-icon {
    font-size: 1.5em;
    margin: 0 10px;
    transition: 350ms color;
    color: #cc9f56;
}

.social-icon:hover {
    color: #efefef;
}

.copyright {
    font-size: 0.8em;
    color: #aaa;
}

/* Media Queries */

@media (max-width: 1000px) {
    h3 {
        font-size: 1.3em;
    }
    h4 {
        font-size: 1em;
    }
    .perks li {
        font-size: 0.8em;
    }
    .contact-info {
        font-size: 0.8em;
    }
}

@media (max-width: 900px) {
    .page-header {
        flex-flow: column nowrap;
        height: 100px;
        padding: 20px 20px;
    }
}

@media (max-width: 768px) {
    .services-wrapper {
        flex-flow: column nowrap;
    }
    .service-wrapper {
        width: 80%;
        padding: 20px 0;
        margin: 20px auto;
    }
    .about-quote {
        font-size: 1.5em;
    }
    .contact-wrapper {
        flex-flow: column nowrap;
    }
    .contact-info {
        height: 400px;
    }
}

@media (max-width: 560px) {
    .col-wrapper {
        flex-flow: column nowrap;
    }
    .first, .second {
        margin: 0 auto;
    }
    .col p {
        margin-bottom: 20px;
    }
}

@media (max-width: 450px) {
    nav a {
        font-size: 0.5em;
    }
}